@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
  background-color: #f3f3f3;
  height: 100%
}

/*h2 {
  border: 2px solid gray;
  text-align: center;
  padding: 10px
}*/

.rotate-circle {
  width: 800px;
  height: 800px;
  position: relative;
  margin: 0 auto;
}
.rotate-circle .rotate-border {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  border-radius: 50%;
  border-top: 30px solid #e0bb28;
  border-bottom: 30px solid #e0bb28;
  border-right: 10px solid #e0bb28;
  border-left: 10px solid #e0bb28;
  -webkit-animation-name: Rotate;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: Rotate;
  -moz-animation-duration: 15s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: Rotate;
  -ms-animation-duration: 15s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
}

.tree {
  position: absolute;
  margin: 0 auto;
  display: block;
  padding-left: 230px;
  padding-top: 100px;
}

@-webkit-keyframes Rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes Rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-ms-keyframes Rotate {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}


/*.tree {
  position: absolute;
  margin: 0 auto;
  display: block;
  padding-left: 300px;
}

.rotate-border {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 15s linear infinite;
    background-color: blue;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }*/



/*Navbar Styles****************************************************************/
header {
  height: 300px;
  width: 101%;
  top: 0;
}

.main-nav {
  overflow: hidden;
  position: relative;
  top: -2px;
  width: 100%;
  height: 70%;
  background-color: #1F6521;
}

.navbar-default .action-list > li {
  display: inline;
  font-size: 16px;
  margin-top: 20px;
  margin-right: 70px;
  margin-left: -10px;
  border-radius: 15px 50px 30px;
  background-color: white;
}

.navbar-header {
  float: left;
  padding: 12px;
  text-align: center;
  width: 100%;
}

.navbar-default .navbar-brand {
  font-size: 80px;
  float: none;
  color: white;
  font-family: 'PT Sans', sans-serif;
}

.stylish-input-group .input-group-addon{
    background: white !important;
    border: 0;
    border-radius: 15px 50px 30px;
    height: 50px;
}
.stylish-input-group .form-control{
  font-size: 16px;
	border-radius: 15px 50px 30px;
	box-shadow: 0 0 0;
	border-color: white;
  height: 50px;
}
.stylish-input-group button {
  float: left;
  border: 0;
  background: transparent;
}

/*Courses styles******************************************************************************/

.courselist {
  list-style: none;
  padding: 0;
  position: absolute;
  margin-top: 35px;
  background: white;
  z-index: 5;
}

.courselist li {
  margin: 0;
  padding:10px 0;
  border-top: 1px solid gray;
}

.courselist li:first-child {
  border-top: none !important;
}

select {
  -webkit-appearance: none;
}

.thumbnail {
  background-color: #1F6521;
  color: white;
  width: 31px;
  border-radius: 15px;
  border-color: #777;
  border-width: 1px;
  text-align: center;
  margin-top: 5px;

}

.status {
  margin-top: 5px;
}

.course {
  margin-bottom: 20px;
}

/*Login and Signup Styles******************************************************/

.username-input, .password-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.loginbtn, .cancelbtn {
    background-color: #53900F;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.loginbtn:hover, .cancelbtn:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #af4f48;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.login-container {
    padding: 16px;
}

span.redir {
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 300px) {
    span.redir {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

/*****************************************************************************/
