@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
  background-color: #f3f3f3;
  height: 100%;
}

/*Navbar Styles****************************************************************/

.main-nav {
  background-color: #1F6521;
}

.main-nav img {
  height: 160%;
}

.navbar-default form {
  padding: 8px;
  border-radius: 15px 50px 30px;
  background-color: white;
}

.navbar-nav > li {
  margin: 10px;
  border-radius: 15px 50px 30px;
  background-color: white;
}

.navbar-default .brand-text {
  margin-top: 5px;
  margin-right: 20px;
  font-size: 30px;
  color: white;
  font-family: 'PT Sans', sans-serif;
}

@media (max-width: 770px) {
  .navbar-default .brand-text {
    margin-top: 3px;
  }
}

.navbar-default .navbar-brand:hover {
  color: white;
}

.navbar-form .input-group-btn {
    background: white !important;
    border: 0;
    border-radius: 15px 50px 30px;
}

.input-group .form-control {
	border-radius: 15px 50px 30px;
	box-shadow: 0 0 0;
	border-color: white;
}

.navbar-form button {
  float: left;
  border: 0;
  background: transparent;
}

/*Courses styles******************************************************************************/
select {
  -webkit-appearance: none;
  text-align-last: center;
}

.courselist {
  list-style: none;
  padding: 40px;
  border-radius: 15px;
  background: #1F6521;
  border: 1px solid #1F6521;
}

.addCourse {
  position: relative;
  margin-bottom: 30px;
  padding: 15px;
  font-size: 20px;
  text-transform: uppercase;
  /*border: 1px solid #1F6521;*/
  border-radius: 10px;
  background: #53900F;
  color: white;
}

.courselist li {
  margin-bottom: 30px;
  padding:15px;
  border-radius: 10px;
  background: white;
  border-bottom: 1px solid #a4a71e;
}

.courselist li a, .courselist li h4 {
  color: #a4a71e;
}

.courselist li p {
  color: #1f2605;
}

.thumbnail {
  background-color: #1F6521;
  color: white;
  width: 31px;
  border-radius: 100%;
  border-color: #777;
  border-width: 1px;
  text-align: center;
  margin-top: 15px;
}

.status {
  margin-top: 5px;
}

.course {
  margin-bottom: 20px;
}

.status select, .status div {
  background: #53900F;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.courselist li button {
  font-family: 'PT Sans', sans-serif;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  text-transform: uppercase;
  border: none;
  background: #e0bb28;
}

.courselist li button:hover {
  background: #a4a71e;
}

.status label {
  font-size:16px;
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: #e0bb28;
}

@media (max-width: 1120px) {
  .status {
    width: 40%;
    margin-left:60%;
    text-align: right;
    margin-top: 10px;
  }
}

@media (max-width: 770px) {
  .courselist li {
    padding: 10px 5px;
    margin-bottom: 20px;
  }
  .courselist li h4 {
    margin-top: 0;
  }
  .courselist {
    padding: 20px;
    margin: 30px 0;
  }
  .addCourse {
    margin: 30px 0 20px;
  }
  .status {
    text-align: right;
    margin-top: 10px;
    width: 100%;
    margin-left: 0;
  }
  .thumbnail {
    margin-top: 0;
  }
}

/*Login and Signup Styles******************************************************/

.username-input, .password-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
}

.loginbtn, .cancelbtn {
    background-color: #53900F;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
}

.loginbtn:hover, .cancelbtn:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: 100%;
    padding: 10px 18px;
    background-color: #af4f48;
}

.imgcontainer img {
    margin-bottom: 30px;
}

.imgcontainer .avatar {
  border-radius: 100%;
}

.login-container {
    padding: 16px;
}

span.redir {
    padding-top: 16px;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
}

@media screen and (max-width: 770px) {
    span.redir {
        display: block;
        text-align: center;
    }
}
/******************************************************************************/

/*Splash Image Styles**********************************************************/
.rotate-circle {
  width: 800px;
  height: 800px;
  position: relative;
  margin: 0 auto;
}
.rotate-circle .rotate-border {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  border-radius: 50%;
  border-top: 30px solid #e0bb28;
  border-bottom: 30px solid #e0bb28;
  border-right: 10px solid #e0bb28;
  border-left: 10px solid #e0bb28;
  -webkit-animation-name: Rotate;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: Rotate;
  -moz-animation-duration: 15s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: Rotate;
  -ms-animation-duration: 15s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
}

.tree {
  position: absolute;
  margin: 0 auto;
  display: block;
  padding-left: 230px;
  padding-top: 100px;
}

@-webkit-keyframes Rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes Rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-ms-keyframes Rotate {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}

@media (max-width: 820px) {
  .rotate-circle {
    height: 500px;
    width: 500px;
  }
  .tree {
    height: 450px;
    width: auto;
    padding-left: 150px;
    padding-top: 80px;
  }
}

@media (max-width: 520px) {
  .rotate-circle {
    height: 400px;
    width: 400px;
  }
  .tree {
    height: 350px;
    width: auto;
    padding-left: 125px;
    padding-top: 60px;
  }
}

@media (max-width: 410px) {
  .rotate-circle {
    height: 300px;
    width: 300px;
  }
  .tree {
    height: 250px;
    width: auto;
    padding-left: 100px;
    padding-top: 60px;
  }
}
/******************************************************************************/

/*Not Found Styles*************************************************************/
.notFoundText {
  padding-top: 10%;
  font-family: 'PT Sans', sans-serif;
}

.notFoundText h1 {
  padding: 20px;
  font-size: 50px;
  color: white;
  background: #53900F;
  border-radius: 10px;
}

.notFoundText h2 {
  color: #e0bb28;
  font-size: 40px;
  margin-top: 20px;
}

/*Profile Page Styles**********************************************************/
.courselist, .friends, .profile {
  min-height: 300px;
  max-height: 800px;
  overflow-y: scroll;
}

.friends, .profile {
  padding: 15px;
  border-radius: 15px;
  border: 2px solid #1F6521;
  background: white;
}

.profile img {
  border-radius: 10%;
}

.profile h3 {
  margin: 15px 0;
  padding: 15px 0;
  border-top: 1px solid #a4a71e;
  border-bottom: 1px solid #a4a71e;
}

.profile h3, .friends h2 {
  font-family: 'PT Sans', sans-serif;
  font-size: 30px;
  color: #1F6521;
}

.profileItem {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  color: #53900f;
}

.profileItem span {
  font-size: 20px;
  color: #1f2605;
}

.profileItem {
  padding-bottom: 7px;
  margin-bottom: 8px;
  border-bottom: 1px solid #e0bb28;
}

.profileItem:last-child {
  border-bottom: none;
}

.profile button {
  background: #53900f;
  border: none;
  border-radius: 5px;
  color: white;
}

.profile button:hover {
  background: #1F6521;
}

.profile .addFriend {
  padding: 10px;
}

.profile .edit {
  padding: 5px 10px;
}

/*Friends Component Style******************************************************/
.friends ul {
  list-style: none;
}

.friends ul li {
  font-family: 'PT Sans', sans-serif;
  color: white;
  padding: 10px 15px;
  border-radius: 15px;
  text-transform: uppercase;
  border: none;
  background: #e0bb28;
  word-wrap: break-word;
  margin-bottom: 15px;
}

.friends ul li:hover {
  background: #a4a71e;
}

/*****************************************************************************/
